{#
  Page Layout

  Used for static pages (About, etc.).
  Extends the base layout and adds a simple content wrapper.
#}
---
layout: layouts/base.njk
---

<article class="page-content">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
