---
layout: layouts/base.njk
---

<article class="container reader-page moz-reader-content">
  <h1>{{ title }}</h1>
  <p class="post-meta">
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </p>
  {{ content | safe }}
</article>
