---
layout: layouts/base.njk
---

{#
  Blog Post Layout

  Used for individual blog posts.
  Extends the base layout and adds post metadata (date, author).
#}

<article class="post-content">
  <header class="post-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </header>
  {{ content | safe }}
</article>
